body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    text-align: center;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 20px;
}
.product img{
    width: 100%;
}
.product a{
    text-decoration: none;
    color:white;
    background-color: darkred;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10%;
}